# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Build & Distribution Artifacts
client/dist/
server/public/

# Databases
*.sqlite
*.sqlite-journal
*.db
server/database.sqlite

# Environment Variables
.env
.env.local